.container {
  margin: 10px auto;
  width: 1150px;
  padding: 0px 5px 5px 5px;
  border: 1px dotted black;
  height: 900px;
  position:relative;
}

a {
	color: #0181a7;
    text-decoration: none;
}

body {
	font-family: 'Helvetica Neue',  Helvetica;
}

.login_status {
	color: #828383;
	margin-left: 10px;
}

.tags {
    text-align: center;
	padding:1px 5px; 
	margin: 5px;
	background:#bce1f4; 
	border:10 none;
	cursor:pointer;
	border-radius: 5px;
}

.tags:hover {

    background: #9dcbeb;
}

.tag_list {
	text-align: center;
}

.booking_tag {
	margin: 3px;
	font-size: 70%;
	padding:1px 3px; 
	background:#f68b66; 
	border:0 none;
	cursor:pointer;
	border-radius: 5px;

}

.logout {
	float: right;
	margin-top: 25px;
}

.edit {
	background-color:#8ccc96;
	float: right;
	margin-right: 5px;
	padding: 10px;
	border-radius: 5px;
	border:0 none;
	cursor:pointer; 

}

.delete {
	float: right;
	margin-right: 5px;
	padding: 10px;
	border-radius: 5px;
	border:0 none;
	cursor:pointer; 

}

.book {
	background-color:#f15928;
	float: right;
	padding: 10px;
	border-radius: 5px;
	border:0 none;
	cursor:pointer; 
}

p {
	font-family: 'Helvetica Neue';
	font-size:120%;
}

h1{
	color:#029a96;
	text-align: center;
}

h2{
	text-align: center;
}

h3{
	text-align: center;
}

h4{
	text-align: center;
}

a:hover {
    color: #33ccaa;
}

th {
  text-align: left;
}

form {
	text-align: center;
}

form input {

	display: inline;
}

table {
  display: block;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 120%;
  overflow: auto;
  width: auto;
}


table tr:first-child {
	background-color: #5ea9de;
}


table tr th:nth-child(-n+5) {
	padding: 5px;
	color: #ffffff;
}

table tr td {
	background: #ececec;
	padding: 10px;
}


input[type=submit] {
	padding:5px 20px; 
	background:#33ccaa; 
	border:0 none;
	cursor:pointer;
	border-radius: 5px; 
}

input[type=submit]:hover {

background:#04B4AE;
}

input[type=password] {
  width:250px;
  padding: 3px;
  border: solid 3px #dcdcdc;
}


input[type=text] {
  width:250px;
  padding: 3px;
  border: solid 3px #dcdcdc;
}