<div class="container">

<h2> Welcome to Air Bae 'N Bae!<h2>

    <h3>Don't Wait - It's Easy and Free</h3>
    <form action="/signup" method = "post">
     <p><input type="text" name="signup[name]" placeholder="tell us your name"></p>
     <p><input type="text" name="signup[email]" placeholder="your email address"></p>
     <p><input type="password" name="signup[password]" placeholder="make a strong password"></p>
     <p><input type="password" name="signup[confirm_pass]" placeholder="confirm your password"></p>
     <p><input type="submit" value="Jom, get me in!"></p>
     
    </form>


</div>