<div class="container">
<h2>Woohoo! Thank You For Using Air Bae 'N Bae!</h2>
<p style="text-align: center;">We'll let the property owner know so he or she can get in touch with you as soon as possible.</p>
<p style="text-align: center;"><a href ='/'>Back to homepage</a></p>
</div>