<div class="container">

<h2> Welcome <%= @userz.name %>!</h2>

<h1>Your Air Bee 'N Bee Page</h1>
  <p>Got a place to rent? Create a new listing now</p>

  <form action="/listings/user" method="post">
  <p><b>Your Title: </b><input type="text" name="new[title]"></p>
  <p><b>Describe Your Place:</b></p><textarea name="new[description]" rows="10" cols="60"></textarea>
  <h4>What makes your place special? Add them as tags!</h4>
 <p><input type="text" name="tag" placeholder = "e.g. condominium, near_lrt" multiple></p>
  <p><input type="submit" value="It's Now For Rent!"></p>
  </form>

  <h3>Here are all your listings:</h3>
  
    <table border=1>
      <tr>
        <th>Title</th>
        <th>Description</th>
       </tr>
       <% unless @listings.nil? %>
        <% @listings.each do |listing|%>
        <tr>
        <td><a href = "/listings/<%= listing.id%>"><%= listing.title%></a></td>
        <td><%=listing.description%></td>
       </tr>
         <% end %>
         <% end %>
    </table>

<form action="/logout" method="get">
<input type="submit" value="logout">
</form>

</div>